<div  class="card bg-warning" style="border:4px solid white;">
    <div class="card-body" style="padding: 8px; margin-top: 8px;">
      <div>
        <!-- title -->
        <input onClick="this.setSelectionRange(0, this.value.length)"type="text"
        [(ngModel)]="note.title"
        (change)="updateNote()"
               class="input-label-lg-note"
               maxlength="19" style="width: 80%"/>
        <a (click)="deleteNote()" class="pull-right text-danger">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>
      <!-- text -->
      <textarea onClick="this.setSelectionRange(0, this.value.length)"class="input-label-note"
                style="width: 100%" rows="6" [(ngModel)]="note.text"
                (change)="updateNote()"></textarea>
      <div class="text-info" style="fontsize: small">
        {{note.lastModifiedOn | date:'dd-MM-yyy HH:mm'}}
      </div>
    </div>